pip
bump2version
wheel
watchdog
flake8
twine
Click
pytest
pytest-cov
spacy
stanza
torch
requests
colorlog
numpy
setuptools
vaex
xlrd
twint
wordcloud
nltk
pandas
twitter_nlp_toolkit
seaborn

gensim
tensorflow
matplotlib
scikit-learn
tqdm
xgboost
gTTS
